body {
    background-color: #ff7e30;
    font-family: 'Roboto Slab', serif;
    color: white;
    width: auto;
   
    
}

header {
    font-size: xx-large;
    font-weight: bold;
    margin: 25px 25px 25px 25px;
    width: auto;
    text-align: center;
    color: #39393a;
}

h1 {
    text-align: center;
}

nav {
    text-align: center; 
    width: auto;
    margin-bottom: 5px;
}

nav a {
    padding-left: 5px;
}

a {
    color: #666370;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;

}

li {
    list-style: none;
}

div{
    border: solid white 1px;
    text-align: center; 
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

iframe {
    width: 75%;
    height: 500px;  
    margin-left: 10%;
}

img {
    width: 50%;
    height: auto;
}

footer {
    text-align: center;
}

footer a {
    margin-left: 10px;
}





@media only screen and (max-width: 600px) {
    body {
        background-color: #FFDFD3;
        color: #957DAD;
      
    }

    a {
        color: #D291BC;
    }

    h4 {
        color: #957dad
    }

    #resume {
        border: solid lightblue 1px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #discBot {
        border: solid lightblue 1px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #skillsDiv {
        border: solid lightblue 1px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        content: "";
        display: table;
        clear: both;
        width: 250px;
    
    }

    iframe {
        width: 300px;
        height: 300px;
    }

    #discBot iframe {
        width: 300px;
        height: 300px;
    }

    header {
        color: lightslategrey
    }
}
