
body {
    background-color: #ff7e30;
    font-family: 'Roboto Slab', serif;
    color: white;
    
    /* reference: https://fonts.google.com/specimen/Roboto+Slab?preview.text=channel%20orange&preview.text_type=custom&query=robot&sidebar.open=true&selection.family=Roboto+Slab#standard-styles */
}

header {
    font-size: xx-large;
    font-weight: bold;
    margin: 25px 25px 25px 25px;
    width: 100%;
    text-align: center;
    color: #39393a;
}

h3 {
    width: 100%;
}

h2 {
    width: 100%;
    text-align: center;
}

h4 {
    text-align: center;
    
}

section {
    overflow: hidden;
    text-align: center;
}

p {
    text-indent: 50px;
    text-align: justify;
}

nav {
    text-align: center; 
    width: 100%;
}

nav a {
    padding-left: 5px;
}

a {
    color: #666370;
    text-align: center;

}

li {
    list-style: none;
}

footer {
    float: left;
    text-align: center; 
    width: 100%;
    margin: 25px 25px 25px 25px;
}

footer a {
    margin-left: 5px;
}

#project{
    color: #3c3c3b;
    
}

#disc-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#discBot {
    border: solid white 1px;
    margin-top: 10px;
    margin-bottom: 10px;

}

#skillsDiv {
    border: solid white 1px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    content: "";
    display: table;
    clear: both;
    width: 100%;

}

#resume {
    border: solid white 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.column {
    float: left;
    width: 50%;
}

section h4 {
    text-decoration: underline;
}

#discBot iframe {
    width: 1500px;
    height: 600px;;
}

iframe {
    width: 600px;
    height: 850px;
}


@media only screen and (max-width: 600px) {
    body {
        background-color: #FFDFD3;
        color: #957DAD;
      
    }

    a {
        color: #D291BC;
    }

    h4 {
        color: #957dad
    }

    #resume {
        border: solid lightblue 1px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #discBot {
        border: solid lightblue 1px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #skillsDiv {
        border: solid lightblue 1px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        content: "";
        display: table;
        clear: both;
        width: 100%;
    
    }

    iframe {
        width: 300px;
        height: 300px;
    }

    #discBot iframe {
        width: 300px;
        height: 300px;
    }

    header {
        color: lightslategrey
    }
}
